.login {
    padding: 16px 0 0 116px;
}

.login_shape {
    background-image: url('/images/Background Shape.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 702px;
    height: 1000px;
    flex-shrink: 0;
    border-radius: 12px;
    /* background: #FFF; */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    padding: 200px 200px 200px 57px;
}

.social_media_btn {
    display: flex;
    height: 48px;
    padding: 12px 16px 12px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--Stroke-stroke-500, #E1E0E5);
    background: var(--Other-White, #FFF);
}