.login {
    /* padding و position قدیمی را حذف کنید */
}

.login_shape {
    /* تمام استایل‌های قدیمی را حذف کنید */
}

.social_media_btn {
    display: flex;
    height: 48px;
    padding: 12px 16px 12px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--Stroke-stroke-500, #E1E0E5);
    background: var(--Other-White, #FFF);
}