.logomark {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 5.547px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11.093px;
    border-radius: 11.093px;
    border: 1.387px solid rgba(255, 255, 255, 0.70);
    background: linear-gradient(0deg, #4C3CC6 18.54%, #7E60F8 100%);
}

.navbar_img {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    background: url('../../../../public/images/nav_img.png') lightgray 50% / cover no-repeat;
}

.navbar_btn {
    display: flex;
    height: 32px;
    padding: 13px 16px 13px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #020202;
    background: linear-gradient(0deg, #010101 0%, #404040 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

.navbar_btn_dark {
    padding: 13px 24px;
    gap: 8px;
    border: 1px solid #FFF;
    background: linear-gradient(0deg, #4C3CC6 0%, #7E60F8 100%);
}

.nav-item-active {
    background-color: #f8f9fa;
    border-radius: 8px;
    position: relative;
}

.nav-item-active::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 20px;
    background: linear-gradient(180deg, #4c3cc6 0%, #7e60f8 100%);
    border-radius: 0 2px 2px 0;
}

.nav-item-active h3 {
    color: #4c3cc6;
    font-weight: 500;
}


.blueLineIndicator {
    position: absolute;
    width: 0;
    height: 40px;
    right: 0;
    z-index: 30;
    transition: top 500ms ease-out;
}